{% extends 'accounts/teacher/base.html' %}
{% block title %}Dashboard{% endblock %}
{% block content %}


<div class="container">
    <h3>Hello, {{ user.get_full_name|default:'Guest' }}!</h3>   
    <p>Welcome to your Dashboard.</p>
    {% if messages %}
    {% for message in messages %}
    <div class="alert {{  message.tags }} alert-dismissible fade show" role="alert">
        {{ message }}
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {% endfor %}
    {% endif %}
</div>
{% endblock %}