
                        <div class="card-header">
                            <h3>Reset Your Password</h3>
                            {% if validlink %}
                                <p>please enter your password twice</p>
                        </div>
                        <div class="card-body">
                            <form class="login_form" action="." method="post">
                                {% csrf_token %}
                                {{ form.as_p }}
                                <div class="form-group">
                                    <input type="submit" value="Change my password" class="btn float-right login_btn">
                                </div>
                            </form>
                            {% else %}
                                <p>The password reset link ws invalid, possibly because it has already been used. Please click
                                <a href="{% url 'account:password_reset' %}">here</a> to request for a new link</p>
                            {% endif %}
